PRIVATE_KEY= # with hex prefix 
RPC_URL=https://holesky.drpc.org
CHAIN_ID=17000
ETHERSCAN_API_KEY=

QUICK_MODE=ON 
NUM_OPERATORS=3 # Number of operators to set up when QUICK_MODE is OFF

# TESTNET PARAMS
#TESTNET_RPC_URL=https://holesky.drpc.org
DEPLOY_ENV=LOCAL
FUNDED_KEY=
LST_CONTRACT_ADDRESS=0x3F1c547b21f65e10480dE3ad8E19fAAC46C95034
LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3