[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/Lay3rLabs/eigenlayer-middleware
	# This commit hash (5d309a7fdf12872bbe14b0852eea08fe4188166f) corresponds to wavs-1.4 branch (based on tag v1.4.0-testnet-holesky)
	branch = 5d309a7fdf12872bbe14b0852eea08fe4188166f 