# source rpc url for local deployment
FORK_RPC_URL=https://ethereum-holesky-rpc.publicnode.com

DEPLOY_ENV=LOCAL
ETHERSCAN_API_KEY=
RPC_URL=http://localhost:8545

# FIXME: place your project's metadata URI here
# REFERENCE: https://docs.eigencloud.xyz/products/eigenlayer/developers/howto/build/register-avs-metadata
METADATA_URI=https://raw.githubusercontent.com/Lay3rLabs/wavs-middleware/refs/heads/dev/docker/metadata.example.json

# if testnet, use an actual funded key
FUNDED_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# sETH contract addresses
LST_CONTRACT_ADDRESS=0x3F1c547b21f65e10480dE3ad8E19fAAC46C95034
LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3
