# source rpc url for local deployment
FORK_RPC_URL=https://0xrpc.io/hoodi

DEPLOY_ENV=LOCAL
ETHERSCAN_API_KEY=
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545
TESTNET_RPC_URL=

# FIXME: place your project's metadata URI here
METADATA_URI=https://wavs.xyz/metadata.json

# if testnet, use an actual funded key
FUNDED_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# sETH contract addresses
LST_CONTRACT_ADDRESS=0x3508A952176b3c15387C97BE809eaffB1982176a
LST_STRATEGY_ADDRESS=0x19536FAd6Eb831e8211B316177979161BBdb2c2B
