# TODO: Replace with your RPC URL
RPC_URL=https://holesky.drpc.org

DEPLOY_ENV=LOCAL
CHAIN_ID=17000
ETHERSCAN_API_KEY=foobar
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545

# FIXME: place your project's metadata URI here
METADATA_URI=https://wavs.xyz/metadata.json

# what should I put here??
LST_CONTRACT_ADDRESS=0x0dcd8e2db3308ca3c03257f6c03046c2340b69ba
LST_STRATEGY_ADDRESS=0x0dcd8e2db3308ca3c03257f6c03046c2340b69ba