# TODO: Replace with your RPC URL
RPC_URL=https://ethereum-holesky-rpc.publicnode.com

DEPLOY_ENV=LOCAL
CHAIN_ID=17000
ETHERSCAN_API_KEY=foobar
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545
TESTNET_RPC_URL=

# FIXME: place your project's metadata URI here
METADATA_URI=https://wavs.xyz/metadata.json

# if testnet, use an actual funded key
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# sETH values for holesky
LST_CONTRACT_ADDRESS=0x3F1c547b21f65e10480dE3ad8E19fAAC46C95034
LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3
