# TODO: Replace with your RPC URL
RPC_URL=https://holesky.drpc.org

DEPLOY_ENV=LOCAL
CHAIN_ID=17000
ETHERSCAN_API_KEY=foobar
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545

# FIXME: place your project's metadata URI here
METADATA_URI=https://wavs.xyz/metadata.json

# sETH values for holesky
LST_CONTRACT_ADDRESS=0x592c7BAfB9044b581d227E2AB7B04cC3c6d2A5A9
LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3